<html>
<head>
  <title>418: I'm a teapot</title>
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://raw.githubusercontent.com/vincetse/t-service/master/t/static/img/418.png" />
  <meta property="og:description" content="A fun interpretation of RFC 2324 for normal people" />
  <meta property="og:url" content="https://t-service.herokuapp.com/" />
  <meta property="og:title" content="Nerdy Stuff For Normal People" />
  <link href="https://fonts.googleapis.com/css?family={{ fontfamily }}" rel="stylesheet" />
</head>
<body>
<div style="font-family: courier; font-size: 28pt; font-weight: bold; text-align: center;">I'm A Teapot</div>
<div style="font-family: {{ fontfamily }}; font-size: 128pt; text-align: center;">
418
</div>

<div style="font-family: courier; font-size: 8pt; text-align: center;">
  <a href="https://tools.ietf.org/html/rfc2324">rfc 2324</a>
  <a href="https://en.wikipedia.org/wiki/Hyper_Text_Coffee_Pot_Control_Protocol">wikipedia</a>
  <a href="https://github.com/vincetse/t-service">github</a>
</div>
</body>
</html>
