<html>
<head>
  <title>418: I'm a teapot</title>
  <link href="https://fonts.googleapis.com/css?family={{ fontfamily }}" rel="stylesheet">
</head>
<body>
<div style="font-family: courier; font-size: 28pt; font-weight: bold; text-align: center;">I'm A Teapot</div>
<div style="font-family: {{ fontfamily }}; font-size: 128pt; text-align: center;">
418
</div>

<div style="font-family: courier; font-size: 8pt; text-align: center;">
  <a href="https://tools.ietf.org/html/rfc2324">rfc 2324</a>
  <a href="https://en.wikipedia.org/wiki/Hyper_Text_Coffee_Pot_Control_Protocol">wikipedia</a>
</div>
</body>
</html>
