appdirs==1.4.4
asn1crypto==1.5.1
atomicwrites==1.4.1
attrs==25.4.0
certifi==2026.1.4
cffi==2.0.0
chardet==5.2.0
click==8.3.1
coverage==7.13.3
coveralls==4.0.2
cryptography==46.0.4
docopt==0.6.2
enum34==1.1.10
Flask==3.1.2
funcsigs==1.0.2
gunicorn==25.0.1
idna==3.11
importlib-metadata==8.7.1
iniconfig==2.3.0
ipaddress==1.0.23
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
more-itertools==10.8.0
packaging==26.0
pathlib2==2.3.7.post1
pep8==1.7.1
pluggy==1.6.0
py==1.11.0
pycparser==3.0
pyOpenSSL==25.3.0
pyparsing==3.3.2
pytest==9.0.2
pytest-cov==7.0.0
requests==2.32.5
scandir==1.10.0
six==1.17.0
toml==0.10.2
typing-extensions==4.15.0
urllib3==2.6.3
Werkzeug==3.1.5
zipp==3.23.0
