name: CI
on: [push, pull_request]
permissions: {}
jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.14'
          pip-install: -r requirements.txt

      - name: flake8 Lint
        uses: py-actions/flake8@84ec6726560b6d5bd68f2a5bed83d62b52bb50ba # v2.3.0

      - name: Set PYTHONPATH
        run: |
          echo "PYTHONPATH=$(PYTHONPATH):." >> $GITHUB_ENV

      - run: |
          coverage run -m pytest
          coverage lcov

      - uses: qltysh/qlty-action/coverage@a19242102d17e497f437d7466aa01b528537e899 # v2.2.0
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: ./coverage.lcov
